.about {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0;
}

.about__title {
  margin: 0;
  margin-bottom: 28px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.about__list {
  list-style-type: none;
  text-align: left;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.about__item--text {
  margin: 0;
}

.about__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 58px;
  }

  .about__item--svg {
    fill:@sea;
    margin-bottom: 20px;
  }
}

@media (min-width: @tablet-width) {
  .about {
    margin-bottom: 83px;
  }

  .about__inner {
    width: 700px;
    padding-left: auto;
    padding-left: auto;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
  }

  .about__list {
    font-size: 20px;
    line-height: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 89px;
    row-gap: 30px;
  }

  .about__item {
    margin: 0;
  }

  .about__item--second {
    grid-row-start: 2;
  }

  .about__item--third {
    grid-row-start: 3;
  }
}

@media (min-width: @desktop-width) {
  .about {
    width: auto;
  }

  .about__inner {
    width: auto;
    max-width: 1150px;
    padding-left: 224px;
    padding-right: 100px;
  }

}
