.about {
  margin: 0;
}

.about__title {
  margin: 0;
  margin-bottom: 28px;
  text-align: left;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
}

.about__list {
  list-style-type: none;
  text-align: left;
  padding: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
}

.about__text {
  margin: 0;
}

.about__item {
  margin-bottom: 30px;

  &:last-child {
    margin-bottom: 61px;
  }

  .about__svg {
    fill:@sea;
    margin-bottom: 15px;
    padding-left: 9px;
  }
}

.about__svg--second {
padding-left: 3px;
fill:@sea;
margin-bottom: 20px;
}

.about__item--second {
  margin-bottom: 33px;
}

.about__svg--third {
  padding-left: 9px;
fill:@sea;
margin-bottom: 19px;
}

.about__svg--fifth {
  fill:@sea;
  margin-bottom: 24px;
}

.about__svg--sixth {
  fill:@sea;
  margin-bottom: 18px;
  padding-left: 3px;
}

@media (min-width: @tablet-width) {
  .about {
    margin-bottom: 21px;
  }

  .about__inner {
    width: 700px;
    padding-left: auto;
    padding-left: auto;
  }

  .about__title {
    font-size: 43px;
    line-height: 50px;
    padding-left: 15px;
  }

  .about__list {
    font-size: 20px;
    line-height: 22px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
    padding-top: 14px;
  }

  .about__item {
    margin: 0;

    &:nth-child(-n+3){
      padding-left: 15px;
    }
  }

  .about__item--second {
    grid-row-start: 2;
  }

  .about__item--third {
    grid-row-start: 3;
  }

  .about__svg--sixth {
    margin-bottom: 15px;
  }
}

@media (min-width: @desktop-width) {
  .about {
    width: auto;
    margin-bottom: 27px;
  }

  .about__inner {
    width: auto;
    max-width: 1150px;
    padding-left: 210px;
    padding-right: 100px;
  }

  .about__list {
    margin-bottom: 0;
    grid-template-columns: 365px 460px;
  }

  .about__title {
    font-size: 53px;
    line-height: 57px;
  }
}
