.contacts {
  font-weight: normal;
  line-height: 30px;
}

.contacts__title {
  font-weight: bold;
  font-size: 18px;
}

.contacts__text {
  font-size: 15px;
  line-height: 30px;
}

.contacts__link {
  color: #444444;
  text-decoration-color: #62D1BA;
}

.contacts__btn {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #444444;
  border: 2px solid #444444;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 17px;
  padding-right: 10px;
  box-sizing: border-box;
}

