.contacts {
  font-weight: normal;
  line-height: 30px;
  text-align: left;
  margin-bottom: 39px;
}

.contacts__title {
  font-weight: bold;
  font-size: 25px;
  padding-left: 30px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 14px;
}

.contacts__svg {
  display: none;
}

.contacts__text {
  display: flex;
  flex-direction: column;
  margin-bottom: 46px;
  font-size: 15px;
  line-height: 30px;
  padding-left: 29px;
}

.contacts__email {
  display: flex;
  justify-content: flex-start;
}

.contacts__map iframe {
  display: block;
  width: 100%;
  border: none;
}

.contacts__map {
  margin-bottom: 43px;
  width: 100%;
  min-height: 454px;
  max-height: 454px;
}

.contacts__address {
  display: flex;
  justify-content: flex-start;
}

.contacts__signature {
  margin-right: 31px;
}

.contacts__link {
  color: #444444;
  text-decoration-color: #62D1BA;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    text-decoration: rgba(70,193,174,.3);
  }
}

.contacts__wrapper-btn {
  padding-left: 30px;
  padding-right: 30px;
}

.contacts__btn {
  width: 100%;
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: block;
  text-align: center;
  text-decoration: none;
  color: #444444;
  border: 2px solid #444444;
  padding-top: 15px;
  padding-left: 10px;
  padding-bottom: 14px;
  padding-right: 10px;
  box-sizing: border-box;
  text-transform: uppercase;

  &:hover {
    color: #ffffff;
    background-color: #444444;
  }

  &:active {
    color: rgba(225,225,225,.3);
  }
}

@media (min-width: @tablet-width) {
  .contacts {
    padding-top: 75px;
    margin-bottom: 56px;
  }

  .contacts__inner {
    display: grid;
    grid-template-columns: 334px 334px;
  }

  .contacts__svg {
    display: block;
    grid-column-start: -1;
    align-self: center;
    justify-self: center;
  }

  .contacts__title {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 43px;
    line-height: 50px;
  }

  .contacts__text {
    grid-column-start: 1;
    grid-column-end: 4;
    flex-direction: row;
  }

  .contacts__email {
    margin-right: 91px;
  }

  .contacts__signature {
    min-width: 52px;
  }

  .contacts__map {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-bottom: 56px;
    background-color: #E3E2DC;
    min-height: 457px;
    max-height: 457px;
    overflow: hidden;
  }

  .contacts__wrapper-btn {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .contacts__btn {
    grid-column-start: 1;
    grid-column-end: 4;
    width: 228px;
    margin: 0 auto;

  }

  .contacts__signature {
    padding: 0;
    margin-right: 10px;
  }

  .contacts__value {
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .contacts__inner {
    max-width: 1150px;
    margin: 0 auto;
    grid-template-columns: 174px 350px auto;
    grid-template-rows: 144px 171px 142px;
    column-gap: 55px;
    box-sizing: border-box;
  }

  .contacts__title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    font-size: 53px;
    line-height: 57px;
    padding: 0;
    margin: 0;
  }

  .contacts__svg {
    grid-column-start: 1;
    justify-self: end;
    align-self: start;
  }

  .contacts__text {
    flex-direction: column;
    font-size: 17px;
    line-height: 30px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    align-self: flex-end;
    padding: 0;
    margin: 0;
  }

  .contacts__email {
    margin-bottom: 33px;
  }

  .contacts__signature {
    margin: 0;
    padding: 0;
    min-width: 78px;
  }

  .contacts__value {
    margin: 0;
  }

  .contacts__wrapper-btn {
    grid-column-start: 2;
    grid-column-end: 3;
    margin: 0;
    max-height: 52px;
    width: 229px;
    align-self: flex-end;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .contacts__map {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    margin: 0;
    padding-right: 49px;
    background-color: #FFFFFF;
  }

  .contacts__map img {
    width: 526px;
    height: 457px;
  }
}
