
.creation__content {
  border: 1px solid #ECECEC;
}

.creation_caption {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  margin: 0;
}

.creation__copy {
  padding-left: 34px;
  padding-right: 31px;
  text-align: left;
  font-size: 13px;
  line-height: 24px;
  color: #444444;
  margin: 0;
}

.creation__btn {
  display: inline-block;
  text-decoration: none;
  border: 2px solid #444444;
  Font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  color: #444444;
  padding-bottom: 16px;
  padding-top: 16px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 33px;
  margin-left: 34px;
  margin-right: 34px;
}
