.featured {
  margin-bottom: 31px;
}

.featured__inner {
text-align: center;
}

.featured__title {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: left;
  margin: 0;
}

.featured__name {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: @sea;
  text-transform: uppercase;
  text-align: left;
}

.featured__description {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

.featured__parameters {
  font-size: 15px;
  line-height: 20px;
  border-collapse: collapse;
}

.featured__cost {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
}

.featured__button {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 2px solid #444444;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 36px;
  text-decoration: none;
  color: #444444;
  box-sizing: border-box;
}

