
.feedback__text {
  font-size: 15px;
  line-height: 30px;
  margin: 0;
}

.feedback__author {
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.feedback__user {
  font-weight: normal;
}

.feedback__button {
  font-family: inherit;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 2px solid #444444;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 45px;
  text-decoration: none;
  color: #444444;
}
