.form-field {
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  border: none;
  padding: 0;
  margin: 0;
}

.form-field__title {
  color: @sea;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  align-items: center;
}

.form-field__list {
  list-style-type: none;
}

.form-field__btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: #444444;
  text-align: center;
  border: 2px solid #444444;
  padding-left: 37px;
  padding-right: 37px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-bottom: 55px;
  background-color: white;
}
