.header-nav__logo-wrapper {
  width: 86px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 22px;
  margin-bottom: 22px;
}

.header-nav__button {
  padding: 0;
  width: 20px;
  height: 15px;
  background-image: url("../img/icon-menu-open.svg");
  background-color: white;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: 35%;
  right: 9%;
}

@media (min-width: @tablet-width) {
  .header-nav__button {
    display: none;
    background-image: none;
  }

  .header-nav {
    position: relative;
  }

  .header-nav__inner {
    display: grid;
    grid-template-columns: 167px 167px 167px 167px;
    grid-template-rows: min-content min-content;
  }

  .header-nav__logo-wrapper {
    position: absolute;
    margin: 0;
    top: 22px;
  }
}

@media (min-width: @desktop-width) {
  .header-nav__inner {
    display: grid;
    grid-template-columns: 455px 140px 455px;
    grid-template-rows: min-content min-content;
  }

  .header-nav__logo-wrapper {
    width: 150px;
    top: 22px;
    left: 50%;
    margin-left: -75px;
    text-align: center;
  }
}
