.order-name {
  border: none;
}

.order-name__input::-webkit-input-placeholder {
  font-family: inherit;
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.order-name__lable {
font-family: inherit;
font-weight: bold;
font-size: 17px;
line-height: 18px;
}

.order-name__input {
  padding-top: 14px;
  padding-left: 0;
  padding-right: 35px;
  padding-bottom: 18px;
  border: 0;
  border-bottom: 2px solid #000;
  margin: 0;
  margin-bottom: 22px;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
}
