.order-contact {
  margin-bottom: 34px;
  border: none;
}

.order-contact__input::-webkit-input-placeholder {
  font-size: 17px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.order-contact__input {
  padding-top: 14px;
  padding-left: 0;
  padding-right: 35px;
  padding-bottom: 18px;
  border: 0;
  border-bottom: 2px solid #000;
  margin: 0;
  margin-bottom: 22px;
  font-size: 17px;
  line-height: 18px;
  box-sizing: border-box;
}
