.order-details__title {
  margin-bottom: 22px;
}

.order-details__text {
  width: 100%;
  height: 142px;
  padding: 17px;
  font-family: inherit;
  box-sizing: border-box;
  border: 2px solid #444444;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
}

.order-details__hint {
  font-family: inherit;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .order-details {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: min-content min-content;
    row-gap: 52px;
  }

  .order-details__title {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 20px;
  }

  .order-details__text {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .order-details__hint {
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: flex-end;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .order-details {
    grid-template-columns: 120px 700px;
    column-gap: 55px;
    grid-template-rows: min-content min-content;
    row-gap: 49px;
  }

  .order-details__title {
    grid-column-start: 1;
    justify-self: end;
    margin-right: 0;
  }

  .order-details__hint {
    grid-column-start: 2;
    grid-column-end: -1;
    justify-self: end;
  }
}

