.product-card {
  border: 1px solid #ECECEC;
  margin-bottom: 30px;
}

.product-card__text {
  padding-left: 28px;
  padding-right: 28px;
}

.product-card__title {
  margin: 0;
}

.product-card__picture {
  margin-bottom: 27px;
  width: 100%;
}

.product-card__bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}

.product-card__link {
  display: block;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-align: left;

}

.product-card__parameter {
  font-size: 13px;
  line-height: 30px;
  color: #444444;

  margin: 0;
  text-align: left;
  margin-bottom: 22px;
  padding-bottom: 17px;
  border-bottom: 1px solid #ECECEC;
}

.product-card__price {
  display: block;

  text-align: left;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  margin: 0;
}

.product-card__basket-svg {
  fill: #d3d2d2;

  &:hover {
    fill: #63D1BB;
  }

  &:active {
    fill: rgba(99, 209, 187, 0.3)

  }

@media (min-width: @tablet-width) {
  .product-card {
    display: flex;
    margin-bottom: 54px;
  }

  .product-card picture {
    max-width: 334px;
    max-height: 334px;
  }

  .product-card__bottom {
    margin-bottom: 0;
  }

  .product-card__text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-top: 27px;
  }


  .product-card__price {
margin: 0;
  }

  .product-card__picture {
    width: 338px;
    height: 100%;
    margin: 0;
    flex-shrink: 0;
  }

  .product-card__parameter {
    padding-bottom: 172px;
    margin-bottom: 23px;
  }

  .product-card__parameter--big {
    padding-bottom: 148px;
  }

  .product-card__basket-svg {
    padding: 0;
    padding-bottom: 33px;
  }
}

@media (min-width: @desktop-width) {
  .product-card {
    flex-direction: column;
    width: 315px;
  }

  .product-card picture {
    max-height: none;
    max-width: none;
  }

  .product-card__picture {
    width: 315px;
    height: 462px;
  }

  .product-card__link {
    font-size: 20px;
    line-height: 24px;
  }

  .product-card__title {
    margin-bottom: 7px;
  }

  .product-card__parameter {
    font-size: 15px;
    line-height: 30px;
    padding-bottom: 36px;
  }

  .product-card__parameter--big {
    padding-bottom: 12px;
  }

  .product-card__price {
    margin-bottom: 25px;
  }

  .product-card:hover .product-card__text {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  .product-card:active .product-card__text {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  .product-card__basket-svg {
    padding-right: 30px;
  }
}
