.product {
  margin-bottom: 30px;
  position: relative;

}

.product__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.product__item--light {
  background-color: @sea;
}

.product__item--dark {
  background-color: @dark-sea;
}

.product__item {
  flex-basis: auto;
  width: 100%;
}

.product-link {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  color: white;
  font-family: @base-font;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  min-height: 103px;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 15px;
  padding-left: 30px;
  padding-right: 30px;
  max-height: 103px;
  box-sizing: border-box;
}

.product-link__text {
  white-space: pre-line;
  max-width: 130px;
  align-items: flex-start;
}


@media (min-width: @tablet-width) {
  .product {
    width: auto;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 24px;
      max-height: 34px;
      background-image: url(../img/bg-zigzag-fill.svg);
      background-repeat: no-repeat;
      bottom: -11px;
    }
  }

  .product__list {
    display: flex;
    flex-direction: row;
    padding: 0 50px;
    min-width: 668px;
    margin: 0 auto;
  }

  .product-link {
    font-size: 20px;
    line-height: 30px;
    min-height: 119px;
    max-height: 119px;
  }

  .product-link--light:hover {
    padding-bottom: 35px;
    margin-top: -5px;
    background-color: #59D5BC;
  }

  .product-link--dark:hover {
    padding-bottom: 35px;
    margin-top: -5px;
    background-color: #46C1AE;
  }
}

@media (min-width: @desktop-width) {
  .product::after {
    content: "";
    height: 37px;
    max-height: 37px;
    background-position: 50% 50%;
    background-size: 1250px 100%;
    background-repeat: repeat;
  }


  .product__list {
    margin: 0 auto;
    max-width: 1150px;
    justify-content: center;
  }

  .product__item {
    flex-grow: 1;
    min-height: 115px;
  }
}
