
.product {
  width: 320px;
  margin: 0 auto;
 margin-bottom: 31px;
 outline: 5px solid red;
 outline-offset: -5px;
}

.product__list {
  list-style-type: none;
}

.product-link--light {
  background-color: @sea;
}

.product-link--dark {
  background-color: @dark-sea;
}

.product-link {
  display: flex;
  width: 130px;
  padding-left: 30px;
  padding-right: 160px;
  padding-top: 24px;
  padding-bottom: 31px;
  text-decoration: none;
  color: white;
  font-family: @base-font;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  min-height: 48px;
  align-items: center;
}
