.site-navigation {
  display: none;
}

.site-navigation__list {
  padding: 0;
  text-align: center;
}

.site-navigation__item {
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
}

.site-navigation__link {
  text-decoration: none;
  color: black;
}

.site-navigation__delivery {
  display: none;
}

.site-navigation--lower {
  display: none;
}

.site-navigation__item--lower {
  display: none;
}

@media (min-width: @tablet-width) {
  .site-navigation {
    display: flex;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
    margin: 0;
    padding: 0;
  }

  .site-navigation--lower {
    grid-column-start: 3;
    display: flex;
    justify-content: flex-end;
  }

  .site-navigation__item {
    font-size: 15px;
  }

  .site-navigation__item--delivery {
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
  }

  .site-navigation__link--order {
    margin-right: 70px;
  }
  .site-navigation__link--catalog {
    margin-right: 35px;
  }
}

@media (min-width: @desktop-width) {
  .site-navigation {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    margin: 0;
    align-items: center;

  }

  .site-navigation__delivery {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-left: 118px;
    padding-top: 20px;
  }

  .site-navigation__item {
    font-size: 17px;
  }

  .site-navigation__link--catalog {
    margin: 0;
    margin-right: 70px;
  }

  .site-navigation__link--order {
    margin: 0;
  }

  .site-navigation--lower {
    display: flex;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-top: 20px;
  }

  .site-navigation__item--lower {
    display: block;
    font-size: 15px;
  }

  .site-navigation__item--lower:first-child {
    margin-right: 61px;
  }
}
