.user-navigation {
  margin: 0;
  padding: 0;
}

.user-navigation__item {
  list-style-type: none;
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 24px;
  padding-top: 26px;
  padding-bottom: 29px;
  padding-left: 32px;
  box-shadow: 0 -1px 0 0 #e5e5e5;
}

.user-navigation__link {
  text-decoration: none;
  color: black;
}

.user-navigation__svg,
.user-navigation__basket-svg {
  padding-right: 25px;
}

@media (min-width: @tablet-width) {
  .user-navigation {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    order: -1;
  }

  .user-navigation__list {
    padding: 0;
    margin: 0;
  }

  .user-navigation__text {
    display: none;
  }

  .user-navigation__svg,
  .user-navigation__basket-svg {
    padding: 0;
  }

  .user-navigation__item--basket {
    padding-top: 31px;
    padding-right: 0;
    padding-bottom: 34px;
    padding-left: 50px;
    box-shadow: inset 1px 0 0 0 #e5e5e5;
  }

  .user-navigation__item--search {
    padding-top: 31px;
    padding-right: 33px;
    padding-bottom: 34px;
    padding-left: 33px;
    box-shadow: inset 1px 0 0 0 #e5e5e5;
  }

  .user-navigation__basket-svg {
    padding-right: 33px;
  }
}


@media (min-width: @desktop-width) {
  .user-navigation {
    justify-content: space-between;
    grid-column-start: 3;
    grid-row-start: 1;
  }

  .user-navigation__basket-svg {
    padding-right: 30px;
  }

  .user-navigation__item--basket {
    padding-left: 28px;
  }

}
